.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  flex-direction: column;
}

.App > .title {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: cursive;
}

.App > .faq {
  flex-direction: column;
  box-shadow: 3px 3px 6px 0px #949494;
}

.App > .faq > .MuiAccordion-root {
  background-color: #ffffffc2;
}

.App > .filter {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.App > .filter > .MuiFormControl-root > .MuiInputBase-root > fieldset {
  border-color: white;
}

.App > .filter > .MuiFormControl-root > .MuiInputBase-root > input {
  color: white;
}

.App > .filter > .MuiFormControl-root > label {
  color: white;
}

.App > .filter > div {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url('covid.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}